// Colors
//

// My X11 colors
//
$theme: #e94c80; // accent // pinkred
$text: #ace6f0; // fg // general text // cyan
$dark-grey: #0a001f; // bg // dark purpleblue
$highlight-grey: #828ff9; // inactive accent // light purpleblue

// Syntax highlighting fix and bg of the scrollbar
//
//$midnightblue: #151515; // boron
$midnightblue: #0f1419; // ayu-dark
//$midnightblue: #191919; // 1337

// Fonts
//
$fonts: "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara,
  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$code-fonts: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco,
  "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New",
  Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC",
  "Microsoft YaHei";

// Mixins
//
@mixin dimmed {
  opacity: 0.7;
}

@mixin aTag {
  a {
    word-break: break-all;
    border: none;
    box-shadow: inset 0 -1px 0 $theme;
    transition-property: background-color;

    &:hover {
      background-color: $dark-grey;
    }
  }
}
