[submodule "themes/emily_zola_theme"]
	path = themes/emily_zola_theme
	url = git@github.com:kyoheiu/emily_zola_theme.git
[submodule "themes/hermit_zola"]
	path = themes/hermit_zola
	url = git@github.com:VersBinarii/hermit_zola.git
