{% import "macros.html" as macros %}

<!DOCTYPE html>

<html lang="en-us">

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <!-- Instructions for web crawlers -->
  <meta name="robots" content="index, follow">



  <!--- Below are the meta tags that are important for SEO \\ they are also important for social media sharing embeds --->
  <meta name="description" content="{{config.description}}">
  <meta name="keywords" content="blog, technology, science, philosophy, mathematics, artificial intelligence, AI research, machine learning, data science, deep learning, neural networks, Linux, Void Linux, OpenBSD, system administration, open source, FOSS, developer tools, programming, coding, tutorials, programming languages, software development, software engineering, computer science, algorithms, cybersecurity">
  <meta name="title" content="{{config.title}}">
  <meta name="author" content="Iustin Râznic">

  <!--- Many websites use Open Graph so it has become standard to include --->
  <meta property="og:title" content="Alphara's Blog">
  <meta property="og:site_name" content="Alphara's Blog">
  <meta property="og:description" content="{{config.description}}">
  <meta property="og:image" content="https://alphara.art/Alphara.png">
  <meta property="og:image:alt" content="Alphara">

  <meta property="og:url" content="https://alphara.art">
  <meta property="og:type" content="blog">

  <!--- Below is for twitter general info --->
  <meta name="twitter:domain" content="https://alphara.art">
  <meta name="twitter:description" content="{{config.description}}">
  <meta name="twitter:title" content="Alphara's Blog">

  <!--- Below is for twitter sharing previews \\ you can test this at https://threadcreator.com/tools/twitter-card-validator --->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://alphara.art/Alphara.png">
  <meta name="twitter:image:src" content="https://alphara.art/Alphara.png">
  <meta name="twitter:image:alt" content="Alphara">

  <!--- If you have accounts on twitter that are relevant to your site --->
  <meta name="twitter:site" content="@IustinRaznic">
  <meta name="twitter:creator" content="@IustinRaznic">



  <!-- Icons and Stylesheets -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{get_url(path="apple-touch-icon.png")}}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{get_url(path="favicon-32x32.png")}}"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{get_url(path="favicon-16x16.png")}}"/>

  <link rel="manifest" href="{{get_url(path="site.webmanifest")}}">
  <link rel="mask-icon" href="{{get_url(path="safari-pinned-tab.svg")}}" color="#030303">
  <meta name="msapplication-TileColor" content="#603cba">
  <!-- <meta name="theme-color" content="#ffffff"> discord fancy ruler line on the left of link preview embeds -->

  <link rel="shortcut icon" href="{{get_url(path="favicon.ico")}}"/> <!-- this is for old browsers that don't support the other tags -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{get_url(path="style.css")}}"/>

  {% if page.title %}
  <title>{{page.title}}</title>
  {% else %}
  <title>{{config.title}}</title>
  {% endif %}

  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}">
  {% endif %}

  <body id="page">

    {% block header %}
    {% endblock header %}

    {% block title %}
    <div id="spotlight" class="animated fadeIn">
      <div id="home-center">
        <h1 id="home-title">{{config.title}}</h1>
        <p id="home-subtitle">{{config.extra.home_subtitle}}</p>
        <div id="home-social">
          {{macros::render_social_icons()}}
        </div>
        {% endblock title %}

        {% block main %}
        <nav id="home-nav" class="site-nav">
          {% for s in config.extra.hermit_menu %}
          <a href="{{config.base_url ~ s.link}}">{{s.name}}</a>
          {% endfor %}
        </nav>
        {% endblock main %}
      </div>

      {% block footer %}
      <div id="home-footer">
        <p>&copy; {{ now() | date(format="%Y")}}
          <a href="{{config.base_url}}">{{config.extra.author.name}}</a>

          {% if config.generate_feed %}
          &#183;
          <a href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" target="_blank" title="rss">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-rss">
              <path d="M4 11a9 9 0 0 1 9 9"></path>
              <path d="M4 4a16 16 0 0 1 16 16"></path>
              <circle cx="5" cy="19" r="1"></circle>
            </svg>
          </a>
          {% endif %}

        </p>
      </div>
      {% endblock footer %}
    </div>

    <script src="{{get_url(path="js/main.js")}}"></script>

    <!-- Math rendering with KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
      onload="renderMathInElement(document.body, { delimiters: [ {left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}, {left: '\\[', right: '\\]', display: true}, {left: '\\(', right: '\\)', display: false}]});"></script>

    {% if config.extra.google_analytics.enable %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics.id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.extra.google_analytics.id }}');
    </script>
    {% endif %}

  </body>

</html>
